.leaderboard_section {
    height: 560px;
    min-width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #505050;
    margin: 25px;
    float: right;
  }

  .leaderboard_header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column;
    height: 70px;
    width: 100%;
  }

  .leaderboard_header h1 {
    justify-content: center;
    height: 35px;
    width: 350px;
    font-size: 28px;
    margin: 15px;
  }
  
  .leaderboard_section hr {
    display: block;
    height: 1px;
    width: 275px;
    border: 0;
    border-top: 3px solid #1D1D1D;
    margin: 10px;
    margin-top: -10px;
    padding: 0;
  }

  .top_ten_cont {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    width: 100%;
  }

  .top_ten {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%
  }

  .top_ten_cont h3 {
    justify-content: center;
    font-family: 'Press Start 2P', cursive;
    height: 30px;
    width: 100%;
  }

  .top_ten_cont hr {
    height: 1px;
    width: 150px;
    border: 0;
    border-top: 3px solid #1D1D1D;
    margin: 10px;
    margin-top: -10px;
    padding: 0;
  }

  .create-player {
    height: 50px;
    width: 100%;
    align-self: flex-end;
    justify-self: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .create-player input {
    color: #00ff00;
    background-color: #1D1D1D;
    font-size: 11px;
    height: 30px;
    width: 200px;
    font-family: 'Press Start 2P', cursive;
  }

  .create-player-button {
    height: 35px;
    width: 70px;
    color: #00ff00;
    background-color: #1D1D1D;
    font-size: 12px;
    font-family: 'Press Start 2P', cursive;
  }

  @media (max-width: 1350px){
    .leaderboard_section {
      height: 1200px;
      width: 350px;
      min-width: 350px;
    }

    .top_ten_cont {
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
  }