.leaderboard_section {
    display: flex;
    justify-content: center;
    height: 560px;
    width: 900px;
    background-color: #505050;
    margin: 25px;
    float: right;
  }

  .leaderboard_header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column;
    height: 70px;
    width: 900px;
    position: absolute;
  }

  .leaderboard_header h1 {
    justify-content: center;
    height: 35px;
    width: 350px;
    font-size: 28px;
    margin: 15px;
  }
  
  .leaderboard_section hr {
    display: block;
    height: 1px;
    width: 275px;
    border: 0;
    border-top: 3px solid #1D1D1D;
    margin: 10px;
    margin-top: -10px;
    padding: 0;
  }

  .top_ten_cont {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    height: 475px;
    width: 900px;
    margin-top: 75px;
  }

  .top_ten {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    height: 450px;
    width: 475px
  }

  .top_ten_cont h3 {
    justify-content: center;
    font-family: 'Press Start 2P', cursive;
    height: 30px;
    width: 475px;
    margin-top: 0px;
    margin-bottom: 5px;
  }

  .top_ten_cont hr {
    height: 1px;
    width: 150px;
    border: 0;
    border-top: 3px solid #1D1D1D;
    margin: 10px;
    margin-top: -10px;
    padding: 0;
  }