.App {
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  color: #00ff00;
}

.header {
  position: absolute;
  top: 0px;
  width: 100%;
  background-color: #1D1D1D;
  height: 150px;
}

.title_container {
  height: 150px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  margin: auto;
}

.title {
  align-items: center;
  font-size: 75px;
  margin: auto;
  margin-top: 20px
}

.header h5 {
  align-items: center;
  height: 50px;
  width: 275px;
  font-size: 15px;
  margin: auto;
  line-height: 20px;
}

.pp_img {
  border-radius: 50%;
  height: 100px;
  transform-origin: 70% 70%;
  margin-top: 30px;
  margin-left: 20px;
  transition: transform 1s ease-in-out;
  animation: pp-wave infinite 8s linear;
}

.fb_img {
  border-radius: 50%;
  height: 115px;
  margin-top: 20px;
  margin-right: 20px;
  animation: fbman-spin infinite 20s linear;
}

.main_content {
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: #AFAFAF;
  min-height: calc(100vh - 150px);
  width: 100%;
  margin-top: 150px;
  flex-wrap: wrap;
  position: absolute;
  justify-content: center;
}

@keyframes fbman-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes pp-wave {
  0%   {
    transform: rotate(0deg);
  }
  50%  {
      transform: rotate(90deg);
  }
  100% {
      transform: rotate(0deg);
  }
}

@media (max-width: 1350px){
  .main_content {
    flex-direction: column;
  }
}

@media (max-width: 650px){
  .desktop-ani{
    display: none;
  }
}